*{
	
	margin: 0;
	padding: 0;
	
}

.header{
	height: 100vh;
	}
.navbar-style {	
	box-shadow: 0 5px 10px black;
}
.nav {
	background-color: #fff;
}
.nav a {
	color: #313131;
}
.burger div {
	background-color: #151515;
}
.logo{
	height: normal;
	color: #313131;
	padding: 2px 10px;
}
#nav-join {
	background-color: #313131;
	color: #fff;
}
.workshop-info {
	margin-top: 10rem;
}




.icon-bar{
	background: red;
}
.cont{
	font-size: 500%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    color: blue;
    background-image: url(https://images.unsplash.com/photo-1478147427282-58a87a120781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover; 
}
.heading{
	font-size: 500%;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}
 
.card:hover{
	background:white;
	color: black;
	box-shadow: 10px 10px 10px black;
	transition: 0.3s;
}

.card-body{
	box-shadow: 0 4px 8px 0 rgba(5,4,3,0.2);
}

